# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
testsigma/

# Environment variables
.env

# pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
